
@if(isAddingTasks){
    <app-new-task (close)="onTaskCancel()" [user_id]="user_id"></app-new-task>
}

<section id = "tasks">
    <header>
        @if( user_id ){
        <h2>Tasks of {{ name }}</h2>
        <menu *ngIf="userRole === 'admin'">
            <button (click)="onStartAddTask()"> + Add Tasks</button>
        </menu>
        }   
    </header>
    <div class="tabs">
        <button (click)="selectTab('open')" [class.active]="selectedTab === 'open'">Open Tasks</button>
        <button (click)="selectTab('completed')" [class.active]="selectedTab === 'completed'">Completed Tasks</button>
    </div>

    <div *ngIf="selectedTab === 'open'">
        <ul>
            @if(getOpenTasks().length > 0) {
            <li>
                <app-task *ngFor="let selected_task of getOpenTasks()" [task]="selected_task"></app-task>
            </li>
            }
            @else() {
                <h4 id="fallback">No open tasks!</h4>
            }
        </ul>
    </div>

    <!-- Display Completed Tasks -->
    <div *ngIf="selectedTab === 'completed'">
        <ul>
            @if(getcompletedTasks().length > 0) {
            <li>
                <app-task *ngFor="let selected_task of getcompletedTasks()" [task]="selected_task"></app-task>
            </li>
            }
            @else() {
                <h4 id="fallback">No completed tasks!</h4>
            }
        </ul>
    </div>
</section>