header{
    display : flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    width: 95%;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    background-color: blueviolet;
    border-radius: 5px;
}

.title_container{
    display: flex;
    flex-direction: column;
}

img {
    width: 3.5rem;
    object-fit: contain;
    /* margin-left: 5rem; */
}

h1{
    font-size: 2.0rem;
    margin: 0;
    padding: 3px;
  }

p{
    font-size: 1rem;
    margin: 0;
}


@media (max-width: 600px) {
    header {
        flex-direction: column; 
        align-items: center;
        padding: 0.8rem;
    }

    img {
        width: 3rem; 
        margin-left: 0; 
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 1.5rem; 
    }

    p {
        font-size: 0.9rem; 
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    img {
        width: 3.2rem; 
    }

    h1 {
        font-size: 1.8rem; 
    }

    p {
        font-size: 1rem; 
    }
}