
<article>
    @if (task) {
        <h3><u>{{task.task_name}}</u></h3><br>
        <span>Due date : <time >{{task.dueDate | date : 'longDate'}}</time></span>
        <p>{{task.task_desc}}</p>
        @if (task.isCompleted){
        <p class="actions">
            <button (click) = "delete_task()">Delete</button>
        </p>
        }
        @if (!task.isCompleted){
        <p class="actions">
            <button (click) = "complete_task()">Complete</button>
        </p>
        }
    }
    @else () {
        <p>No tasks!</p>
    }
</article>