article {
    padding: 1rem;
    color: #25113d;
    background-color: rgb(229, 221, 217);
    border-radius: 5px;
    margin: 2px;
    font-size: 0.9rem;
}

h3 {
    margin: 0;
}

time {
    color: #3c2c50;
}

.actions {
    text-align: right;
    margin: 0;
}

.actions button {
    font: inherit;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: rgb(56, 7, 116);
    color: #decdf2;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.actions button:hover,
.actions button:active {
    background-color: #4a0774;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

/* Media Queries for Responsive Design */

/* Tablet-sized devices and above (min-width: 768px) */
@media (min-width: 768px) {
       .actions {
        text-align: right; 
    }

}

/* Smaller screens (max-width: 768px) */
@media (max-width: 768px) {
    article {
        font-size: 0.95rem;  
        padding: 1.5rem; 
    }

    .actions {
        text-align: center; 
        margin-top: 0.8rem; 
    }

    .actions button {
        font-size: 1rem; 
        padding: 0.5rem 1.2rem; 
    }
}

/* Mobile-sized screens (max-width: 480px) */
@media (max-width: 480px) {
    article {
        padding: 1rem; 
        font-size: 1rem; 
    }

    .actions {
        text-align: center; 
    }

    .actions button {
        font-size: 1rem;  
        padding: 0.5rem 1rem;
    }
}