main {
    width: 90%;
    max-width: 50rem;
    margin: 2.5rem auto;
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
  }

  .notepad {
    background-color: rgb(241, 237, 242);
    width: 70%;
    height: auto;
    display: grid;
    grid-auto-flow: row;
    margin: 2.5rem auto;
    border-radius: 10px;    
  }
  
  #users {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    overflow: auto;
  }
  
  @media (min-width: 768px) {
    main {
      margin: 4rem auto;
      grid-template-columns: 1fr 3fr;
    }
  
    #users {
      flex-direction: column;
    }
  }