
div {
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: rgb(48, 166, 214);
    color: black;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    text-align: left;
  }
  
  button:hover,
  button:active,
  .active {
    /* background-color: #9965dd; */
    background-color: rgb(159, 115, 200);
    color: #150722;
  }
  
  img {
    width: 2rem;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  span {
    margin: 0 1.5rem 0 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: bold;
  }

/* Media Queries for Responsive Design */

/* Smaller screens (max-width: 768px) */
@media (max-width: 768px) {
  button {
      min-width: 8rem; /* Reduce minimum width of the button */
      font-size: 0.9rem; /* Adjust font size for smaller devices */
      padding: 0.4rem 0.8rem; /* Adjust button padding */
  }

  img {
      width: 1.5rem; /* Make the image slightly smaller */
  }

  span {
      font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}
